<% if @construct_dossiers.blank?%>
    <p>Organizer has not been utilized yet. To start please create a new Dossier.</p>
<% else %>
<% if @stand_alone_constructs.blank? %>
<p>    No Floating Stand Alone Constructs...</p>
<% else %>
    <div class="container-fluid">
    <caption><p class="text-info"><strong>Floating Constructs unattached to any Dossiers -</strong></p></caption>

    <% @stand_alone_constructs.each do |construct|%>

          <div class="row-fluid">
            <div class="span3" style="text-align: center">
              <br>
              <p><%= link_to construct_path(construct), :class=>"btn btn-mini btn-default" do %>
                    <i class="icon-file"></i>
                <% end %>               &nbsp;|&nbsp;
                <%= link_to edit_construct_path(construct), :class=>"btn-small btn-inverse" do %>
                    <i class="icon-edit icon-white"></i>
                <% end %>               &nbsp;|&nbsp;
                <%= link_to delete_construct_thinker_path(construct), :class=>"btn-small btn-danger", :confirm => "Are you sure want to Delete this Construct?", :remote => true do %>
                    <i class="icon-trash icon-white"></i>
                <% end %></p>
              <span class="muted"><small><%= construct.created_at.utc.localtime.to_s(:short)%></small></span>

            </div>
            <div class="span5">
              <h5 class="text-info"><%= construct.title.titleize %></h5>
              <p><%=raw "#{construct.construct.capitalize[0..73]}..." %></p>
            </div>
            <div class="span4 form-inline">
              <br>
              <%= form_tag({:controller => "thinker",:action => "add_construct_to_dossier"}, :remote => true) do |f|%>
                  <%= select_tag :dossier, options_for_select(@construct_dossiers.map {|d| d.dossier_name.upcase}), :class=>"span9", :construct => construct%>
                  <%= hidden_field_tag :construct_id, construct.id%>
                  <%= submit_tag "Move", class: "span3 btn btn-small btn-primary", :title => "Map This Construct to Dossier of your choice"%>
              <% end %>

            </div>
          </div>

        <hr>
    <% end %>
    </div>
<% end %>
<% end %>