
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span5">
    <div class="opaqify-container">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
          <%= f.label :email %><%= f.text_field :email, :required => true %> <p></p>
          <%= f.label :Change_Password %><%= f.text_field :password, :autocomplete => "off", :placeholder => "Enter New Password", :required => false %>
          <%= f.text_field :password_confirmation, :placeholder => "Confirm Password", :required => false %><p></p>
          <%= f.label :is_your_alias_really_that_cool? %><%= f.text_field :alias, :placeholder => "Change Alias", :onkeyup => "CheckMaxlength(this);", :maxlength => 19 %> <p></p>
          <%= f.label :first_name %><%= f.text_field :first_name, :placeholder => "Change First Name" %> <p></p>
          <%= f.label :last_name %><%= f.text_field :last_name, :placeholder => "Change Last Name" %> <p></p>
          <%= f.label :Seems_like_you_have_something_to_hide %><%= f.select :age, ('18'..'99').to_a %> <p></p>
          <%= f.label :Enter_current_password_to_confirm_changes %>
          <%= f.password_field :current_password, :placeholder => "Current Password to Confirm Changes", :required => true %><p></p>
          <%= f.submit 'Update', :class => 'btn btn-primary btn-large' %>
      <%end%>
      <%= link_to "I am happy with current settings.", thinker_path(current_thinker), class: "btn btn-primary btn-warning" %>
      <hr >
      <h3 class="muted">No longer have any thoughts?</h3>

      <p>Destroy your account, with it, all your thoughts? <%= button_to "Stop Thinking", registration_path(resource_name), :data => { :confirm => "Are you sure you no longer want to be a thinker?" }, :method => :delete, :class => "btn btn-danger" %></p>

    </div>

  </div>
  <div class="span6">
    <p class="lead text-info"  style="padding-left:9px; padding-top:3px;"><em><%= current_thinker.alias.titleize %></em>
    <p class="muted"  style="padding-left:9px;"><small>Constructs - <%= current_thinker.constructs.count %>&nbsp;<br>
      Factoids - <%= current_thinker.factoids.count %>&nbsp;<br>
      Epiphanies - <%= current_thinker.epiphanies.count %>&nbsp;<br>
      BrainWaves - <%= current_thinker.brain_wave.count %>&nbsp;<br>
      BrainStorm Sessions - <%= current_thinker.brain_storm_sessions.count %></small>
    </p></p>
  </div>
</div>
