<div class="row-fluid">
  <div class="span9">
    <div class="blanker-box" style="padding: 13px;" id="thinking-hats-description">
      <br>Add more help<br><br>
      <p><strong>5 Thinking Hats</strong> (Edward de Bono's technique) is a simple, effective technique that helps you become more productive. You can learn how to separate thinking into five distinct categories. Each category is identified with its own colored metaphorical "thinking hat." By mentally wearing and switching "hats," you can easily focus or redirect thoughts, . </p>
      <p><strong>The Five Thinking Hats (or modes)</strong><br>
        <em>The White Hat</em><br>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;The White Hat calls for information known or needed.<br>

        <em>The Red Hat</em><br>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;The Red Hat signifies feelings, hunches and intuition.<br>

        <em>The Black Hat</em><br>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;The Black Hat is judgment -- the devil's advocate or why something may not work.<br>

        <em>The Yellow Hat</em><br>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;The Yellow Hat symbolizes brightness and optimism.<br>

        <em>The Green Hat</em><br>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;The Green Hat focuses on creativity: the possibilities, alternatives and new ideas.<br>
      </p>
    </div>

  </div>
  <div class="span3">
    <button class="btn btn-default" type="button" id="thinking-hat-toggle"> About 5 Thinking Hats</button>
    <br>
  </div>
</div>

<br>
<div class="blanker-box" style="padding: 13px;">
  <!--====================== WHITE HAT ======================-->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div class="opaqify-container" style="background-color:rgba(255,255,255,0.125);" id="white-hat-form">
          <%= render 'constructs/thinking_hat/thinking_hat_forms/white_hat_form' %>
        </div>
      </div>

      <div class="span8">
        <div id="white-hat-data-display" class="blanker-box">
          <% unless @thinking_hat.nil?%>
          <%= render 'constructs/thinking_hat/thinking_hat_display/white_hat_data_display' %>
          <% end %>
        </div>
        WHITE HAT DATA
      </div>
    </div>
  </div>
  <br><hr>
  <!--====================== RED HAT ======================-->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div class="opaqify-container" style="background-color:rgba(255,0,0,0.125);">
          <%= render 'constructs/thinking_hat/thinking_hat_forms/red_hat_form' %>
        </div>
      </div>

      <div class="span8">
        RED HAT DATA
      </div>
    </div>
  </div>
  <br><hr>
  <!--====================== BLACK HAT ======================-->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div class="opaqify-container" style="background-color:rgba(0,0,0,0.275);">
          <%= render 'constructs/thinking_hat/thinking_hat_forms/black_hat_form' %>
        </div>
      </div>

      <div class="span8">
        BLACK HAT DATA
      </div>
    </div>
  </div>
  <br><hr>
  <!--====================== YELLOW HAT ======================-->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div class="opaqify-container" style="background-color:rgba(255,255,0,0.275);">
          <%= render 'constructs/thinking_hat/thinking_hat_forms/yellow_hat_form' %>
        </div>
      </div>

      <div class="span8">
        YELLOW HAT DATA
      </div>
    </div>
  </div>
  <br><hr>
  <!--====================== GREEN HAT ======================-->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div class="opaqify-container" style="background-color:rgba(0,255,0,0.1);">
          <%= render 'constructs/thinking_hat/thinking_hat_forms/green_hat_form' %>
        </div>
      </div>

      <div class="span8">
        GREEN HAT DATA
      </div>
    </div>
  </div>



</div>

<script>
    $(document).ready(function() {
        $('#thinking-hats-description').hide(); //Initially form wil be hidden.
        $('#thinking-hat-toggle').click(function() {
            $('#thinking-hats-description').toggle();//Form shows on button click
        });
    });
</script>
