<%= form_for(@construct) do |f| %>
    <div class="row-fluid">
      <!--<div class="content">-->
      <div class="pull-left">
        <%= f.label  :title, 'TITLE :', class: "muted"%>
        <%= f.text_field :title, :placeholder => "Appropriate Title...", :required => true, :onkeyup => "CheckMaxlength(this);", :maxlength => 53 %>
      </div>
      <div class="pull-right">
        <% if @construct_dossiers.blank? %>
            <p>No Dossiers have been created yet.</p>
        <% else %>
            <div class="muted" id="tooltip_show">Select Dossier :
              <% a=["Select Dossier"];@construct_dossiers.map {|d| a << "#{d.dossier_name}"}%>
              <%= f.select :dossier_id, options_for_select(a), :class => "span4", :title => "Select Dossier you would like to move this into. Leave blank to have this construct as StandAlone."  %></div>
        <% end %>
      </div>
      <br><br><br><br>
      <div class="field">
        <%= f.label  :construct, 'Your Philosophical Construct :', class: "muted" %>
        <%= f.text_area :construct, :class => "ckeditor" %>
      </div>
      <br>
      <br>
      <hr>
      <div class="row-fluid">
        <div class="span4">
          <div class="field">
            <%= f.label :your_affinity_level_for_this_construct , 'Your Affinity Level for this Construct', :class => "muted"%>
            <%= f.select(:affinity_level, ('1'..'10'),{},{class: "span2"}) %>
          </div>
        </div>
        <div class="span3">
          <br>
          <% unless @construct.share? %>
              <label class="checkbox inline">
                <i class="icon-share icon-white"></i> Exhibit Your Construct?<%= f.check_box :share%>
              </label>
          <%else%>
              <div class="muted">Already Exhibited</div>
          <% end %>
        </div>
        <div class="span5">
          <div class="">
            <%= f.label :foot_notes, 'Foot Notes : ' , :class => "muted"%>
            <%= f.text_area :foot_notes, :rows=>3, class: "span12", :placeholder => "FootNotes - (Generally some conclusion based on your Construct)" %>
          </div>
        </div>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Create My Philosophical Construct",:class => "btn btn-large btn-success" %><br>
      </div>
      <% unless @construct.id.nil? %>
          <%= link_to(@construct, class: "btn btn btn-danger pull-right", confirm: "Are you sure?", method: :delete) do %>
              <i class="icon-trash icon-white"></i>
          <% end %>
      <% end %>

    </div>
<% end %>
