<div class="row-fluid">
  <div class="span3">  <br>
    <div style="text-align: center;font-size: 15px;color:  white">Order your Concepts -</div></div>
  <div class="span6">
    <div class="blanker-box form-inline" style="padding:13px;">
      <%= form_tag({:controller => "thinker",:action => "decide_concepts_display_order"}, :remote => true, :style => "margin: 0px;") do %>
          <div id="tooltip-show"><%= select_tag :sequencing_type, options_for_select([session[:sequencing_type],"Created At","Updated At","Affinity Level","Shared Concepts", "StandAlone Concepts"].uniq), :class=>"span7" %>
            &nbsp;&nbsp;
            <%= submit_tag "Display", :title => "Select Type of Sequencing ...",class: "span4 btn btn-primary"%></div>
      <% end %>
    </div>
    <br>
    <hr>
  </div>
  <div class="span3"></div>
</div>

<% @concepts.each do |concept| %>
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span2">
          <p><div class="muted" style="text-align: center">Concept Quality - <%= concept.affinity_level%></div></p>
          <p><%= link_to concept_path(concept), :class=>"span 12 btn btn-default" do %>
                <i class="icon-file"></i> Review
            <% end %></p>
          <br>
          <br>
          <p style="text-align: center">
            <%= link_to edit_concept_path(concept), :class=>"btn-small btn-inverse" do %>
                <i class="icon-edit icon-white"></i> Edit
            <% end %>               &nbsp;|&nbsp;
            <%= link_to delete_concept_thinker_path(concept), :class=>"btn-small btn-danger", :confirm => "Are you sure want to Delete this Concept?", :remote => true do %>
                <i class="icon-trash icon-white"></i> Delete
            <% end %></p>

        </div>

        <div class="span8">
          <h5 class="text-info"><%= concept.title.titleize %><span class="muted">&nbsp;&nbsp;- &nbsp;<small><%= concept.created_at.utc.localtime.to_s(:short)%></small></span></h5>
          <p><%=raw "#{concept.concept.capitalize[0..233]}..." %></p>
        </div>

        <div class="span2">

          <p class="muted">Belongs To Dossier - <%= "None" %></p>
        </div>

      </div>
      <hr>
    </div>
<% end %>
