<%= render 'layouts/partials/navigation' %>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">

    </div>
    <div class="span4">
      <div class="opaqify-container" style="text-align: center">
        <div class="blanker-box" style="padding: 13px">
        <h2 class="lead" style="color: white">Sign in</h2>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class=>"form-horizontal") do |f| %>
            <div>Email &nbsp; : &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.email_field :email, :autofocus => true %></div>

            <div>
              Password &nbsp; : &nbsp;&nbsp;&nbsp;<%= f.password_field :password %></div>

            <% if devise_mapping.rememberable? -%>
                <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
            <% end -%>

            <div><%= f.submit "Sign in" , :class=>"span5 btn btn-primary"%></div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
    </div>
    <div class="span4">

    </div>
  </div>
</div>


