<h1>Thinker#show</h1>
<p><%= @thinker.inspect %></p>
<p><%= @thinker.factoids.inspect %></p>
<p><%= @thinker.brain_wave.inspect %></p>
<p><%= @thinker.epiphanies.inspect %></p>
<p><%= @thinker.inspect %></p>
<p><%= @thinker.inspect %></p>
<p><%= @thinker.inspect %></p>
<p><%= @thinker.inspect %></p>
<br>
<br>
<br>
<br>
<br>
<br>
<p><%= @thinker.inspect %>
<%= @thinker.inspect %>
<%= @thinker.inspect %></p>
<%= link_to destroy_thinker_session_path, :method=>'delete' do %><i class="icon-warning-sign"></i> Logout<% end %>