<br>
<hr>
<div id="search_results_display">
  <br>
  <%= render 'thinker/partials/search_results' %>
</div>

<br>

<div class="blanker-box" style="padding: 7px">

<ul class="nav nav-pills" id="mainTabs" >
  <li class="active"><a href="#constructs" style="font-size: 14px;"><i class="icon-book icon-white"></i> Constructs</a></li>
  <li><a href="#cognitions" data-toggle="tab" style="font-size: 14px;"><i class="icon-cog icon-white"></i> Cognitions</a></li>
  <li><a href="#brainstorm" data-toggle="tab" style="font-size: 14px;"><i class="icon-cog icon-white"></i> BrainStorm</a></li>
  <div class="pull-right nav nav-pills" id="mainTabs">
    <li><a href="#link_hoard" data-toggle="tab"><i class="icon-tags icon-white"></i> LinkCache</a></li>
    <li><a href="#remembrall" data-toggle="tab"><i class="icon-list icon-white"></i> Remembrall</a></li>
    <li><a href="#bookmarks" data-toggle="tab"><i class="icon-bookmark icon-white"></i> Tagged Exhibits</a></li>
  </div>

</ul>
<!--</div>-->
<div class="opaqify-container">

  <div class="tab-content">

    <!--======================================= CONSTRUCTS =======================================-->
    <div class="tab-pane fade in active" id="constructs">

      <ul class="nav nav-pills" id="constructsTabs">
        <li class="active"><a href="#constructs-organizer"><i class="icon-briefcase icon-white"></i> Organizer</a></li>
        <li ><a href="#list-constructs"><i class="icon-th-list icon-white"></i> List Constructs</a></li>
        <li><a href="#new-construct"><i class="icon-file icon-white"></i> New Construct</a></li>
      </ul>
      <div class="blanker-box" style="padding: 13px">
      <div class="tab-content">
            <div class="tab-pane fade in active" id="constructs-organizer">
              ORGANIZER
              <%= render 'thinker/partials/constructs_dossier_partials/organize_construct_dossiers' %>
            </div>

            <div class="tab-pane fade" id="list-constructs">
              <%= render 'thinker/partials/list_constructs' %>
            </div>

            <div class="tab-pane fade" id="new-construct">
              <%= render 'constructs/form' %>
            </div>

            </div>
            </div>

          </div>


    <!--======================================= COGNITIONS =======================================-->
    <div class="tab-pane fade" id="cognitions">

      <ul class="nav nav-pills" id="cognitionsTabs">
        <li class="active"><a href="#cognitions-median"><i class="icon-th-list icon-white"></i> Median - Cognitions</a></li>
        <li><a href="#main-epiphanies"><i class="icon-th icon-white"></i> Epiphanies</a></li>
        <li><a href="#main-brain_waves"><i class="icon-eye-open icon-white"></i> BrainWaves</a></li>
        <li><a href="#main-factoids"><i class="icon-qrcode icon-white"></i> Factoids</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="cognitions-median">
          <p>Cognition is the mental action or process of acquiring knowledge and understanding through thought,
            experience, and the senses. Cognitions are acquired through perception, sensation or intuition. These
            realizations generally result in the most innovative, intriguing and fascinating thoughts. Cognitions
            are branched into 3 subcategories - Epiphanies, BrainWaves and Factoids.<br>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            Epiphanies are sudden realizations or thoughts which are slightly philosophical or meta-physical in nature.
            Epiphanies are enhanced to <strong>Constructs</strong><br>&nbsp;&nbsp;&bull;&nbsp;&nbsp; BrainWaves are ideas,
            generally for projects. It can be used with 6 Thinking Hats.<br>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            Factoids are accurate data pertaining to a relevant construct.
            <br>This is the first level of categorization and organization of your thoughts.</p>
          <br>
          <hr>
            <%= render 'thinker/partials/cognition_sample_display' %>
        </div>
        <div class="tab-pane fade" id="main-epiphanies">
          <%= render 'thinker/partials/epiphany_display' %>
        </div>
        <div class="tab-pane fade" id="main-brain_waves">
          <%= render 'thinker/partials/brain_wave_display' %>
        </div>
        <div class="tab-pane fade" id="main-factoids">
          <%= render 'thinker/partials/factoid_display' %>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="brainstorm">
      <ul class="nav nav-pills" id="brainStormTabs">
        <li class="active"><a href="#list-brainstorms"><i class="icon-th-list icon-white"></i> List BrainStorms</a></li>
        <li><a href="#new-brainstorm-session"><i class="icon-file icon-white"></i> BrainStorm Sessions</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="list-brainstorms">
          LIST BRAIN STORMS
        </div>
        <div class="tab-pane fade" id="new-brainstorm-session">
          <%= render 'thinker/partials/brain_storm_session_partials/new_brain_storm_session' %>
        </div>
      </div>

    </div>


    <div class="tab-pane fade" id="link_hoard">
      <div class="row-fluid">
        <div class="span8">
          <div class="blanker-box" style="padding: 13px" id="link_hoard_form">
            <%= render 'thinker/partials/link_hoard_form' %>
          </div>
        </div>
        <div class="span4">
          <div id="link_hoard_category_display" class="blanker-box" style="padding: 13px">
            <%= render 'thinker/partials/link_category_display' %>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div id="link_hoard_data_display" class="blanker-box" style="padding: 13px">
            <%= render 'thinker/partials/link_data_display' %>
      </div>
    </div>

    <div class="tab-pane fade" id="bookmarks">
      <%#= render 'thinker/partials/bookmark_display' %>
      TAGGED EXHIBITS
    </div>
    <div class="tab-pane fade" id="remembrall">
      <%= render 'thinker/partials/remembrall_display' %>
    </div>
  </div>
</div>
</div>


<script>
    $('#mainTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<script>
    $('#constructsTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<script>
    $('#cognitionsTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<script>
    $('#brainStormTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>


