<h1>Thinker#show</h1>
<%= @thinker.inspect %>
<%= @thinker.inspect %>
<%= @thinker.inspect %>
<%= @thinker.inspect %>
<%= link_to destroy_thinker_session_path, :method=>'delete' do %><i class="icon-warning-sign"></i> Logout<% end %>