
<!--<div class="opaqify-container">-->
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span4">
    <div class="opaqify-container" style="background-color:rgba(255,255,255,0.6);padding: 19px">
      <div style="text-align: center;font-size: 27px;color: black">START</div>
    </div>
  </div>
  <div class="span4" id="select-construct-form" style="text-align: center">
    <button id="bs-map-construct-form-toggle" class="btn btn-small btn-default">Construct Mapping</button>
    <br>
    <br>
    <div class="opaqify-container" id="map-bs-to-construct-form">
    <div style="color: white;text-align: center"><%= "Belongs to Construct - [ #{@current_brain_storm_session.construct.title.titleize} ]" rescue "Not Mapped to any Construct"%></div>
    <br>
    <hr>
    <%= render 'thinker/partials/brain_storm_session_partials/select_construct_form' %>
    </div>
  </div>
</div>
<div style="text-align: center;color: white">|</div>
<% flashes = @current_brain_storm_session.flashes %>
    <% flashes.order("created_at ASC").each_with_index do |flash,i| %>
    <div class="blanker-box" style="padding: 13px">
        <div class="row-fluid">
          <div class="span1">
            <div class="opaqify-container" id="tooltip_show">
              <%= link_to delete_flash_thinker_path(flash), :class=>"btn btn-small btn-danger", :confirm => "Are you sure you want to delete this. All sub points will also be lost?", :title => "Delete this flash.", :remote => true do%>
                <i class="icon-trash icon-white"></i>
              <% end %>
            </div>
          </div>
          <div class="span5 opaqify-container" style="background-color:rgba(255,255,255,0.15);" >
            <div style="text-align: center;font-size: 19px;color: white"><%= flash.flash.capitalize %></div></div>
          <div class="span6"><p  style="padding-left: 25px;padding-top: 5px;">Sub Points -</p>
            <div class="blanker-box" style="padding: 11px">
              <% flash.sub_points.each_with_index do |point,subpoint_id|%>
                  <div class="row-fluid">
                    <div class="span10" style="color: white">
                      &nbsp;&bull;&nbsp;&nbsp;&nbsp;<%= point.capitalize %>
                    </div>
                    <div class="span2">&nbsp;
                      <%= link_to delete_subpoint_thinker_path(flash,subpoint_id), :class=>"btn btn-mini btn-danger", :title => "Delete this flash.", :remote => true do%>
                          <i class="icon-trash icon-white"></i>
                      <% end %>
                    </div>
                  </div>
              <% end %>
              <br>
                                       <hr>
              <div class="opaqify-container form-inline" style="background-color:rgba(255,255,255,0.15);padding: 7px">
                <%= form_tag({:controller => "thinker",:action => "insert_subpoints"}, :remote => true, :style => "margin: 0px;") do %>
                    <div id="tooltip-show"><%= text_field(nil,:sub_point, :class=> "span10", :rows => "3", :placeholder => "Add SubPoint ... ", :onkeyup => "CheckMaxlength(this);", :maxlength => 173, :required => true ) %>
                      <%= hidden_field_tag :flash_id, flash.id%>
                      <%= submit_tag "Add", :title => "add your sub points to \" #{flash.flash}\"",class: "span2 btn btn-small btn-primary"%></div>
                <% end %>
              </div>

            </div>

          </div>
        </div>
          <!--</div>-->

    </div>
    <% unless flashes.count == i+1 %>
        <div style="text-align: center;color: white">|</div>
      <!--<hr>-->
    <% end %>
    <% end %>
<br>
<hr>
<div class="row-fluid">
  <div class="span1">
    <%# if flashes.blank? %>
    <%# end%>
  </div>
  <div class="span5">
    <p>Add New Major Points (Parent Points) To Your BrainStorms ... </p>

    <div class="opaqify-container form-inline" style="background-color:rgba(255,255,255,0.15);" >
      <%= form_tag({:controller => "thinker",:action => "add_new_flash"}, :remote => true, :style => "margin: 0px;") do %>
          <div id="tooltip-show"><%= text_field(nil,:flash, :class=> "span10", :rows => "3", :placeholder => "New Parent Point ... ", :onkeyup => "CheckMaxlength(this);", :maxlength => 173, :required => true ) %>
            <%= hidden_field_tag :brain_storm_session_id, @current_brain_storm_session.id%>
            <%= submit_tag "Add", :title => "Add new Flash",class: "span2 btn btn-small btn-primary"%></div>
      <% end %>
    </div>

  </div>
  <div class="span6">
    <%= link_to delete_brain_storm_thinker_path(@current_brain_storm_session), :confirm => "Are you sure this entire BrainStorm is to be Dropped?",:class=>"pull-right btn btn-danger", :remote => true do %>
        <i class="icon-trash icon-white"></i> Drop this entire BrainStorm
    <% end %>
  </div>

</div>

<script>
    $(document).ready(function() {
        $('#map-bs-to-construct-form').hide(); //Initially form wil be hidden.
        $('#bs-map-construct-form-toggle').click(function() {
            $('#map-bs-to-construct-form').toggle();//Form shows on button click
        });
    });
</script>


<!--</div>-->