<div class="lead" style="color: white;font-family: Papyrus;text-align: center;font-size: 31px">
  <strong><em>
    HOWL
  </em></strong>
</div>
<br>
<br>


<div class="container-fluid" style="color: white">
  <div class="row-fluid">
    <div class="span1"></div>

    <div class="span10">
        <div class="opaqify"  id="howl-chat-display">
            <%= render 'howls_display' %>
        </div>
    </div>

    <div class="span1">
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span2"></div>

  <div class="span8" style="text-align: center">
    <br>
    <hr>
    <div class="text-info"><h5>Unleash your fury, Rid yourself of Frustration!</h5></div>
    <%= form_tag({:controller => "howl",:action => "record_howl"}, :remote => true, :style => "margin: 0px;") do %>
        <%= text_area(nil,:howl, :class=> "span10", :rows => "2", :placeholder => "Unveil your deepest secrets, desires and frustrations here. Let the world see. The Universe will get the message. (Anonymously ofcourse)", :onkeyup => "CheckMaxlength(this);", :maxlength => 333, :required => true ) %><br>
        <div id="tooltip-show"><%= submit_tag "HOWL", :title => "You will feel lighter. This is a tried and tested method. Do not hesitate. Take the leap.",class: "span6 btn btn-large btn-danger"%></div>
    <% end %>
  </div>

  <div class="span2"></div>
  <%= link_to "Update Howls", howl_update_howl_display_path, :class=>"btn btn-small btn-warning", :id => "update-howls-display",:remote => true %>
</div>
<script>
//    $(document).ready( function(){
//    var h1=$('#howl-display').height();
//    var h2 = 150-h1;
//    $('#c2').height(h2);
//    }
</script>
<script type="text/javascript">
  $('#update-howls-display').hide();
    function doSomething() {
        $('#update-howls-display').click();
    }

    setInterval('doSomething()',100000);
</script>