<!DOCTYPE html>
<html>
<head>
  <title>MentalConstructs</title>
  <%= stylesheet_link_tag    params[:controller], :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/partials/navigation' %>



<div class="container-fluid">

  <%#= render 'layouts/partials/flash_messages' %>

  <div class="row-fluid">


    <!--======================================= Main area =======================================-->
    <div class="span9">
      <div class="row-fluid">
        <div class="span8">

        </div>
        <div class="span4">
          <div class="blank-box">
            <%= render 'thinker/partials/remembrall_form' %>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="blanker-box" style="padding: 7px">
      <%= yield %>
      </div>
    </div>


    <!--======================================= Right Widgets =======================================-->
    <aside class="span3">
      <div id="widget-bar" data-spy="affix" style="padding-right: 11px;">

        <div  class="blank-box">
            <%= render 'thinker/partials/research_forms' %>
        </div>
        <br>
        <hr>
            <div class="opaqify-container">
              <%= render 'thinker/partials/epiphany_form' %>
            </div>
          <br>
            <div class="opaqify-container">
              <%= render 'thinker/partials/brain_wave_form' %>
            </div>
          <br>
            <div class="boxed-template form-inline" >
              <%= render 'thinker/partials/factoid_form' %>
            </div>

        </div>
  </aside>

</div>
</div>


<!--<hr>-->
<%#= render 'layouts/partials/footer' %>

</body>
</html>
<script>
    $(function(){
        var sideBarNavWidth=$('#leftcolumn').width() - parseInt($('#widget-bar').css('paddingLeft')) - parseInt($('#widget-bar').css('paddingRight'));
        $('#sidebarnav').css('width', sideBarNavWidth);
    });
//    function affixWidth() {
//        // ensure the affix element maintains it width
//        var affix = $('#widget-bar');
//        var width = affix.width();
//        affix.width(width);
//    }
//
//    $(document).ready(function () {
//
//        affixWidth();
//
//    });
</script>