<p style="text-align: center;font-size: 27px;font-family: papyrus"><strong>Mental Constructs</strong></p>
<!--<br>-->
<hr>

<!--<div class="blanker-box" style="padding: 13px">-->
  <div class="row-fluid">

    <div class="span7">
      <div class="blanker-box" style="padding: 13px">
        <div class="text-info" style="font-size: 13px">Seeds that gave birth to Mental-Constructs -</div>
        <p>
          Every man has an influx of deep rooted, philosophical thoughts which intuition and subconscious together, cause it to rise to the surface.
          These thoughts of the inner mind are generally always lost because they are fleeting. Losing these thoughts are like losing integral parts
          of yourself.<br>
          Hence Mental Constructs was conceptualized. Further on, we had an "epiphany" that just random thoughts recorded are worth just as much
          as no thoughts at all. Categorization is the essence of excellence in this age when information has become power. Thus levels of categorization
          had to be included into Mental Constructs.<br>
          Every thought that we are capable of conjuring, should not be left at a premature, under developed level. Coming up with a brain wave or
          epiphany is just the beginning. It has no worth if further deliberation and thought is not put into it. These thoughts must be
          "constructed" (hence the word Constructs) to a level where full clarity of the concept is achieved.
        </p>
        <!--<br>-->
        <div class="text-info" style="font-size: 13px">Capability of Mental-Constructs in aiding your collection of information -</div>
        <p>
          Mental Construct is a multi faceted tool. It allows you to quickly record thoughts and ideas. It Expects you to categorize at the
          level where the cognition is conceptualized.<br>
          &nbsp;&bull;&nbsp;&nbsp;Epiphanies being philosophical thoughts or sudden inner realizations.<br>
          &nbsp;&bull;&nbsp;&nbsp;BrainWaves being ideas and brainchilds of some worth.<br>
          &nbsp;&bull;&nbsp;&nbsp;Factoids being important fact snippets for later recollections<br>
          This first level categorization forces you to define the type of thought you realized. This would later on help you in defining collections
          of thoughts that will combine together to form <strong>Constructs</strong>. These Constructs are essays or recorded material
          clearly defining the thought and all its parameters in detail, so that you are always clear upon it. When Constructs become too many,
          they can be further compartmentalized according to Subject or category of your choice (Dossiers)<br>
          BrainStorm are periods of sudden mental acuity where ideas flow to quickly to work upon them at that time. Start a brain storm session
          and keep jotting down the thoughts as they come. Later on these could be mapped to a Construct which is of the same topical relation.
          &nbsp;&bull;&nbsp;&nbsp;All the above elements of thought can later on be deliberated upon and upgraded to a construct.<br>
          These Constructs can be exhibited, if you want the world's opinion on it. Or you could keep them secure with yourself. You can view
          Exhibits by other thinkers, view Exhibits of a specific like minded thinker or search for an Exhibit of you interest. You can admire these
          Exhibits which would save a record of them in your thinker panel(Tagged Exhibits).<br>
          Thoughts are not the only elements that need to be recorded. If you are technological savvy , record links under categories with description
          to revisit them later(LinkCache) or a list of To Do items(Remembrall)<br>
          Used properly Mental Constructs, will help you organize and clear your thoughts to an unbelievable extent.
        </p>
        <div class="text-info" style="font-size: 13px">Capability of Mental-Constructs in aiding your collection of information -</div>
        <p>
          We feel that Mental Constructs still has very few tools. There are many more tools which have been conceptualized and isolated by us which
          need to be included to mental constructs to create a very powerful stand alone Thought Provoking and Organizing FrameWork.<br>
          Upcoming features are -<br>
          &nbsp;&bull;&nbsp;&nbsp;An Android or iOS app which could allow you to directly record Epiphanies, Brainwaves, Factoids, Remembralls on the move.
          This is expected to be released by 18 August 2013.<br>
          &nbsp;&bull;&nbsp;&nbsp;Edward de Bono's Six Thinking Hat methods for thought building and constructing.<br>
          &nbsp;&bull;&nbsp;&nbsp;A Thought calibration tool<br>
          &nbsp;&bull;&nbsp;&nbsp;A Natural Language Processing System that would be able to understand your thoughts and provide you with options about how to build them.<br>
          &nbsp;&bull;&nbsp;&nbsp;Better and more thinker modifiable UI for Mental Constructs<br>
          &nbsp;&bull;&nbsp;&nbsp;StandAlone OS application for Windows and Mac that would allow you to write Constructs and Thought elements locally
          before pushing them up to Mental Constructs.<br>
          &nbsp;&bull;&nbsp;&nbsp;Interactive FlowChart defining and constructing tool to develop brain storms<br>
          Please feel free to provide feedback on any new features you feel that would allow
        </p>
      </div>
    </div>

    <aside class="span5">
      <div id="widget-bar" data-spy="affix" style="padding-right: 11px;">
      <div class="blanker-box" style="padding: 13px">
        <p>
          Mental Constructs has been built to aid a thinker in his quest for gathering information. It is of utmost importance that the tool he uses
          be of optimum quality. We Thank you for choosing www.mental-construct.com and request you to please leave your valuable feedback so that
          we may be able to match your requirements and upgrades so as to improve your productivity.
        </p>
        <div class="blanker-box" style="padding: 13px">
          <div class="text-info"><h5>Provide Feedback - </h5></div>
        <%= form_tag({:controller => "apropos",:action => "record_feedback"}, :style => "margin: 0px;") do %>
            <%= select_tag :type_of_feedback, options_for_select(["Select Feedback Type","New Features","Upgrades in Existing Application","Bestow Accolades" ,"Point of Dissatisfaction","Just General"]), :class=>"span9" %>
            <%= text_area(nil,:feedback, :class=> "span12", :rows => "3", :placeholder => "Feed Back and upgrades, if any.", :onkeyup => "CheckMaxlength(this);", :maxlength => 533, :required => true ) %>
            <div id="tooltip-show"><%= submit_tag "Give Feedback", :title => "Provide FeedBack and select type of feedback.",class: "span4 btn btn-primary"%></div>
        <% end %>
          <% unless @feedback_count.blank? %>
              <br>
              <div class="muted">
                You have provided <strong style="color: white"><%= @feedback_count.count %></strong>  Feedback's. We are evaluating them and will notify you shorty.<br>
                Thank you for your inputs.
              </div>
          <% end %>
        </div>
        <br>
        <p>
          If you would like to reach me personally, you could contact me at - rahouldatta@gmail.com
        </p>
      </div>
      </div>
    </aside>

  </div>

<!--</div>-->